{{#extends "base"}}

{{#block "content"}}
<h1>Update Product</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" value="Update" class="mt-3 btn btn-primary btn-sm"/>
</form>
{{/block}}

{{/extends}}